asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
cryptography==44.0.3
Django==3.2.12
django-cors-headers==4.4.0
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
djongo==1.3.6
dnspython==2.6.1
dotenv==0.9.9
gunicorn==23.0.0
mongoengine==0.28.2
packaging==25.0
pyauth @ git+https://github.com/ashokkumarta/pyauth.git@9b57fee6e8425bf291b3e9f6d4b4d16ad16fa83a
pycparser==2.22
PyJWT==2.9.0
pymongo==3.12.3
python-dateutil==2.9.0
python-dotenv==1.1.0
pytz==2024.1
rest-framework-simplejwt==0.0.2
six==1.17.0
sqlparse==0.2.4
typing_extensions==4.12.2
tzdata==2024.1
